.centered-chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    margin-left: 4%;
}

.chat-window {
    flex: 1; /* Fill remaining vertical space */
    width: 100%; /* Take full width */
    max-width: 600px; /* Adjust max-width as needed */
    border: 2px solid #ccc;
    background-color: #ccc;
    border-radius: 16px 16px 0 0; 
    padding: 10px;
    overflow-y: auto;
    margin-bottom: 0px;
    box-sizing: border-box; /* Include padding and border in width calculation */
    /* Adjust margin as needed */
}

.input-area {
    width: 100%; /* Take full width */
    max-width: 600px; /* Adjust max-width as needed */
    margin-bottom: 10px;
    background-color: #9e9d9d;
    border-radius: 0 0 16px 16px;
    padding: 10px;
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.chat-form {
    display: flex; /* Add flex display */
    align-items: center; /* Align items vertically in the center */
    width: 100%; /* Take full width */
    max-width: 600px; /* Adjust max-width as needed */
    box-sizing: border-box; /* Include padding and border in width calculation */
}


.input-area input {
    flex: 1;
    margin-top: 0px;
    padding: 12px 10px;
    border-radius: 8px;
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: #555353;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    width: 86%; /* Take full width of the input-area */
    box-sizing: border-box; /* Include padding and border in width calculation */
}

.input-area input::placeholder {
    text-transform: uppercase;
    color: #ccc;
    transition: 0.3s ease;
    text-shadow: none;


}

.input-area input:hover::placeholder {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}

.input-area input:focus::placeholder {
    color: transparent;
    text-shadow: none;

}

.chat-button {
    margin-top: 0px;
    margin-left: 5px; /* Adjust margin as needed */
    padding: 12px 12px; /* Match the height of the input area textbox */
    text-transform: uppercase;
    border-radius: 8px; /* Adjust border-radius to match input area */
    font-size: 17px;
    font-weight: 500;
    color: #ffffff80;
    text-shadow: none;
    background: #555353;
    box-shadow: transparent;
    border: 1px solid #ffffff80;
    transition: 0.5s ease;
    user-select: none;
    flex-shrink: 0; /* Prevent button from shrinking */
}


.chat-button:hover {
    color: #ffffff;
    background: #555353;
    border: 1px solid #555353;
    text-shadow: 0 0 5px #ffffff, 0 0 10px #ffffff, 0 0 20px #ffffff;
}
