#home {
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 70px;
}

.masonry {
  margin-left: 25px;
}

@media only screen and (max-width: 600px) {
  #home {
    padding-left: 50px;
    padding-top: 10px;
    padding-right: 60px;
  }
}