.centered-image {
  overflow: hidden;
  border-radius: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  /* height: 100vh; */
  background-color: #f7f7f7;
}

/* .image-view-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
} */

/* Main container holding the image and details */
.image-details-container {
  overflow-y: auto;
  display: grid;
  grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
  gap: 30px;
  width: 100%; /* Adjust max-width as needed */
  /* padding: 10px; */
  background-color: #fff;
  /* border-radius: 35px; */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styling for the image */
.image-view-container {
  /* border-radius: 35px; */
  overflow: hidden;
}

.image-view-container img {
  width: 100%;
  height: auto;
  display: block;
  /* border-radius: 16px; */
}

/* Container for image details */
.details-container {
  display: flex;
  flex-direction: column;
  margin-right: 5%;
  gap: 10px;
  font-family: 'Rabidscience';
}

/* Title */
.post-title {
  font-size: 3vw;
  font-weight: bold;
}

/* Description */
.post-description {
  margin-top: -2%;
  font-size: 24px;
}

.username-link {
  text-decoration: none;
  color: inherit;
}

.image-username {
  font-family: 'Rabidscience';
  font-size: 32px;

}

@media (max-width: 900px) {
  .centered-image {
    margin-left: 9%;
    margin-right: auto;
    width: 90%;
   
  }
  .image-details-container {
    grid-template-columns: 1fr; /* Set a single column for smaller screens */
  }

  .details-container {
    align-items: center;
    text-align: center;
    margin-left: 5%;
  }

  .post-title {
    font-size: 36px;
  }
}