body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.image-container {
  position: relative;
}

.outlined-favorite-icon {
  color: red;
  position: absolute;
  top: 5%;
  right: 10%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.favorite-icon {
  color: red;
  position: absolute;
  top: 5%;
  right: 10%;
  opacity: 1;
  cursor: pointer;
}

.outlined-delete-icon {
  color: rgb(255, 255, 255);
  position: absolute;
  top: 5%;
  left: 10%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 30px;
}

.delete-icon {
  color: rgb(247, 246, 246);
  position: absolute;
  top: 5%;
  left: 10%;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  background-color: rgb(110, 110, 110);
  border: 2px solid rgb(110, 110, 110);
  border-radius: 30px;
}

.delete-icon:active:hover {
  filter: brightness(75%);
}

.outlined-favorite-icon:active:hover, .favorite-icon:active:hover {
  filter: brightness(60%);
}

.image-container:hover .outlined-favorite-icon {
  opacity: 1;
}
.image-container:hover .outlined-delete-icon {
  opacity: 1;
}

.outlined-favorite-icon:hover, .favorite-icon:hover {
  filter: brightness(75%);
}

.image {
  display: block;
  width: 100%;
  border-radius: 35px;
  margin-bottom: 10px;
}

.image:hover {
  /* filter: drop-shadow(0 0 5px #858585) 
            drop-shadow(0 0 20px #858585) 
            drop-shadow(0 0 50px #858585) 
            drop-shadow(0 0 100px #858585); */

  filter: brightness(50%);
  cursor: zoom-in;

  /* border: 5px solid #ffffff;
  margin: -5px; */
}

.image-container:hover .image:not(:hover) {
  filter: brightness(50%);
}